<!doctype html>
<title>Python Flask File Upload Example</title>
<h2>Select a file to upload</h2>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script> -->
<!-- <script src="jquery.table2excel.js"></script> -->
<!-- <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/jszip.min.js"></script> -->

<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.21/datatables.min.css"/>-->

<!--<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.21/datatables.min.js"></script>-->

<!--<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>-->

<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"></link>-->

<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css"></link>-->


<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form id="id_form" method="post" action="" enctype="multipart/form-data">
    <dl>
		<p>
			<input class="btn btn-secondary" type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input class="btn btn-success" type="submit" value="Submit">
		<!-- <input style="display:none" class="btn btn-success" id="clickbind" type="button" value="Print"> -->
		<!-- <button class="btn btn-success" id="clickbind" onclick="exportTableToExcel('exportTable', 'members-data')">PRINT</button> -->
    <button style="display:none"  class="btn btn-success" id="clickbind" onclick="tableToExcel('exportTable', 'W3C Example Table')">Export</button>

	</p>
</form>
<table class="table table-bordered" id="exportTable" style="display:none;overflow-x:auto">
	<thead>
		<tr>
			<th>DateAndTime</th>
			<th>Description</th>
			<th>FormName</th>
			<th>MessageId</th>
			<th>Title</th>
			<th>Text</th>
		</tr>
	</thead>
	<tbody id="records_table">
	</tbody>
</table>
<script>
$("#id_form").submit(function(e) {
	e.preventDefault();
	var formData = new FormData(this);

	$.ajax({
			url: '/',
			type: 'POST',
			data: formData,
			success: function (response) {
				var trHTML = '';
        $.each(response, function (i, item) {
            trHTML += '<tr><td>' + item['Date and Time'] + '</td><td>' + item.description + '</td><td>' + item['form name'] + '</td><td>' + item['message id'] + '</td><td>' + item.title + '</td><td>' + item.text + '</td></tr>';
        });
        $('#records_table').append(trHTML);
				$('.table').css('display','table')
				$('#clickbind').css('display','inline')
			},
			cache: false,
			contentType: false,
			processData: false
	});
});



</script>
<!--
<script type="text/javascript">
	jQuery(function ($) {
			$("#clickbind").click(function () {
					// parse the HTML table element having an id=exportTable
					var dataSource = shield.DataSource.create({
							data: "#exportTable",
							schema: {
									type: "table",
									fields: {
											DateAndTime: { type: String },
											Description: { type: String },
											FormName: { type: String },
											MessageId: { type: String },
											Title: { type: String },
											Text: { type: String },
									}
							}
					});

					// when parsing is done, export the data to Excel
					dataSource.read().then(function (data) {
							new shield.exp.OOXMLWorkbook({
									author: "Sample",
									worksheets: [
											{
													name: "Sample Table",
													rows: [
															{
																	cells: [
																			{
																					style: {
																							bold: true
																					},
																					type: String,
																					value: "DateAndTime"
																			},
																			{
																					style: {
																							bold: true
																					},
																					type: String,
																					value: "Description"
																			},
																			{
																					style: {
																							bold: true
																					},
																					type: String,
																					value: "FormName"
																			},
																			{
																					style: {
																							bold: true
																					},
																					type: String,
																					value: "MessageId"
																			},
																			{
																					style: {
																							bold: true
																					},
																					type: String,
																					value: "Title",

																			},
																			{
																					style: {
																							bold: true
																					},
																					type: String,
																					value: "Text",

																			}
																	]
															}
													].concat($.map(data, function(item) {
															return {
																	cells: [
																			{ type: String, value: item.DateAndTime },
																			{ type: String, value: item.Description },
																			{ type: String, value: item.FormName },
																			{ type: String, value: item.MessageId },
																			{ type: String, value: item.Title },
																			{ type: String, value: item.Text }
																	]
															};
													}))
											}
									]
							}).saveAs({
									fileName: "SampleExcel"
							});
					});
			});
	});
</script> -->

<!-- <script>
	$(document).ready(function() {
    $('#exportTable').DataTable( {
        dom:  'T<"clear">lfrtip',
				buttons: [
				'copy', 'csv', 'excel', 'pdf', 'print'
		]
    } );
} );
</script> -->
<!--
<script>
	function exportTableToExcel(tableID, filename = ''){
    var downloadLink;
    var dataType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById(tableID);
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

    // Specify file name
    filename = filename?filename+'.pdf':'excel_data.pdf';

    // Create download link element
    downloadLink = document.createElement("a");

    document.body.appendChild(downloadLink);

    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['\ufeff', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

        // Setting the file name
        downloadLink.download = filename;

        //triggering the function
        downloadLink.click();
    }
}
</script> -->

<script type="text/javascript">
var tableToExcel = (function() {
  var uri = 'data:application/vnd.ms-excel;base64,'
    , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
    , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
    , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
  return function(table, name) {
    if (!table.nodeType) table = document.getElementById(table)
    var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
    window.location.href = uri + base64(format(template, ctx))
  }
})()
</script>